.box-form {
  width: 80%;
  height: auto;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  border: 0 solid red;
}

.dsc-contato {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 0;
  border: 0 solid red;
}

.boton {
  width: 200px;
  padding: 12px;
  background-color: #555;
  color: aliceblue;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
input.boton:hover {
  background-color: #333;
}

.input-4 {
  padding: 10px;
  width: 25%;
  margin: 8px auto;
  border-radius: 5px;
  box-shadow: 0 6px 10px #c3c3c3;
}

.input-6 {
  padding: 10px;
  width: 74%;
  margin: 8px auto;
  border-radius: 5px;
  box-shadow: 0 6px 10px #c3c3c3;
}

.alert {
  max-width: 300px;
  height: auto;
  background-color: rgb(255, 221, 221);
  font-size: 15px;
  color: #e70000;
  border: 0 solid #ffbdbd;
  box-shadow: 0 2px 3px #c3c3c3;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: 10px;
  right: 10px;
  display: flex;
  transition: 0.3ms;
  opacity: 1;
}

.alert span {
  padding: 0;
  margin-right: 10px;
}
